body {
  margin: 0;
}

.roulette {
  position: relative;
  width: 100%;
  height: 100vh;
}

.roulette-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  overflow: hidden;
}

.roulette-frame {
  width: 30vw;
  height: 30vw;
  background:
    url("https://m.lifeplanet.co.kr:444/commons/slink/administrator/openInnovation/img/MO)%20360%ED%94%8C%EB%9E%98%EB%8B%9B_%EB%A3%B0%EB%A0%9B%ED%8C%90_476x476_201026.png")
    no-repeat;
  background-size: 100%;
  transform: rotate(60deg);
  transform-origin: center; /*회전 중심(원점 기준점)을 지정*/
  transition-timing-function: ease-in-out;
  transition: 2s;
}

.roulette-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 1px;
  border-right: .8vw solid transparent;
  border-left: .8vw solid transparent;
  border-top: 4vw solid darkcyan;
  border-bottom: 0px solid transparent;
  z-index: 20;
}

.roulette-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: #fff;
  border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  border: 2px solid;
  cursor: pointer;
  font-size: 2.5vw;
}

.hidden-input {
  display: none;
}

@media screen and (max-width: 1024px) {
  .roulette-bg {
    width: 50vw;
    height: 50vw;
  }
  
  .roulette-frame {
    width: 50vw;
    height: 50vw;
  }

  .roulette-arrow {
    border-right: 1vw solid transparent;
    border-left: 1vw solid transparent;
    border-top: 6vw solid darkcyan;
  }

  .roulette-btn {
    width: 15vw;
    height: 15vw;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 820px) {
  .roulette-bg {
    width: 70vw;
    height: 70vw;
  }
  
  .roulette-frame {
    width: 70vw;
    height: 70vw;
  }

  .roulette-arrow {
    border-right: 1.5vw solid transparent;
    border-left: 1.5vw solid transparent;
    border-top: 8vw solid darkcyan;
  }

  .roulette-btn {
    width: 25vw;
    height: 25vw;
    font-size: 6.5vw;
  }
}